*this is from my plan o f study, but it should be doing the trick for now 
ALL_COURSES = [
    "Engineering Orientation",
    "Foundations of Design 1",
    "Programming 1",
    "Calculus 1",
    "Principles of Entrepreneurship",
    "Science Elective",
    "Foundations of Design 2",
    "Digital Logic",
    "Calculus 2",
    "Writing Seminar",
    "Electric Circuits",
    "Digital Signal Processing",
    "Differential Equations",
    "Physics 1",
    "Physics 1 Laboratory",
    "Maker Engineering",
    "Electronics",
    "Physics 2",
    "Physics 2 Laboratory",
    "Professional Ethics",
    "Calculus 3",
    "Signals and Systems",
    "Applied Electromagnetics",
    "Embedded Real-Time Apps",
    "Statistics for Sc. & Engr. (2501)",
    "Gen Ed Elective 1",
    "Control & Automation",
    "Communication Systems",
    "Machines & Power Electronics",
    "Project Development",
    "Gen Ed Elective 2",
    "Capstone Design Exp. 1",
    "Networks & Data Comm.",
    "Power Systems",
    "EE Technical Elective 1",
    "EE Technical Elective 2",
    "Gen Ed Elective 3 (GEN 8)",
    "Capstone Design Exp. 2",
    "EE Technical Elective 3",
    "Engineering Elective",
    "Gen Ed Elective 4 (GEN 6)",
    "Gen Ed Elective 5 (GEN 10)",
]
